:root {
  --box-width: 420px;
  --box-height: 320px;
}

@media (max-width: 900px) {
  :root {
    --box-width: 380px;
    --box-height: 280px;
  }
}

@media (max-width: 600px) {
  :root {
    --box-width: 300px;
    --box-height: 220px;
  }
}

#events {
  background-color: #0f172a;
}

.slider-container {
  width: var(--box-width);
  height: var(--box-height);
}

/* YEAR BOX */
.year-box {
  width: var(--box-width);
  height: var(--box-height);

  background-size: cover;
  background-position: center;

  border-radius: 40px;
  overflow: hidden;
  position: absolute;

  transition: transform 0.5s ease, opacity 0.5s ease;
  

  box-shadow:
    0 25px 60px rgba(0, 0, 0, 0.126),
    
    
}

.year-box.active:hover {
  transform: scale(1.05);
   box-shadow:
    0 10px 30px rgb(0, 255, 229);
}


/* DARK OVERLAY */
.year-box::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 4, 37, 0.537);
  z-index: 1;
}

/* YEAR TEXT */
.year-label {
  position: absolute;
  z-index: 2;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: 'Oswald', sans-serif;

    text-shadow:
    0 4px 10px rgba(8, 237, 218, 0.9),
    0 12px 40px rgba(0, 0, 0, 0.7);

  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 2px;

  white-space: nowrap; 


  
}

/* SLIDE STATES */
.year-box {
  opacity: 0;
  pointer-events: none;
}

.year-box.active {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 3;
  pointer-events: auto;
   cursor: pointer;
}

.year-box.prev {
  transform: translateX(-95%) scale(0.78);
  opacity: 0.3;
  z-index: 2;
}

.year-box.next {
  transform: translateX(95%) scale(0.78);
  opacity: 0.3;
  z-index: 2;
}


/* ARROW HIDE */
.arrow-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
}

#prevBtn i,
#nextBtn i {
  color: white;
  transition: transform 0.3s ease, text-shadow 0.3s ease;
}

/* Glow ONLY on hover */
#prevBtn:hover i,
#nextBtn:hover i {
  transform: scale(1.15);
  text-shadow:
    0 0 8px rgba(255, 255, 255, 0.9),
    0 0 18px rgba(255, 255, 255, 0.6),
    0 0 32px rgba(255, 255, 255, 0.4);
}

